@import "tailwindcss";

@theme {
  --color-brand-navy: #0B1A30;
  --color-brand-surface: #141E3A;
  --color-brand-blue: #00E5FF;
  --color-brand-neon: #39FF14;

  --font-inter: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    background-color: var(--color-brand-navy);
    color: #e2e8f0;
    /* slate-200 */
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@custom-variant dark (&:where(.dark, .dark *));